/************
 *  general  *
 ************/

/* TODO: different fonts for paragraphs, headings, navbar <08-05-19, Balamurali M> */
body {
  margin: 0;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}
a {
  text-decoration: none;
}
code,
pre {
  display: inline;
}
/**********
 *  main  *
 **********/

main {
  background-color: white;
}
.banner {
  background-image: url(../assets/balu-landscape.webp);
  background-size: cover;
  background-position: bottom;
  height: 350px;
  color: white;
  position: relative;
}
.banner .onimage {
  margin: 0px 10px;
  bottom: 0;
  position: absolute;
  text-shadow: 2px 2px 2px black;
}

.banner a {
  text-shadow: #ffffff 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

.banner h1 {
  width: 65%;
}
.banner p {
  font-weight: bolder;
  width: 45%;
  font-family: monospace;
  font-size: 1.25em;
}
article {
  padding: 2px 10px;
  line-height: 1.4em;
}
article a {
  border-bottom: solid 1px;
}
article a:hover {
  background-color: #99999999;
  border-bottom: solid 3px;
}

label,
input,
textarea {
  display: block;
}
input,
textarea {
  margin: 5px;
}

/************
 *  footer  *
 ************/
.social {
  color: white;
  font-size: 2em;
  margin: 20px 32px;
}
.red_button {
  color: white;
  font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
  text-decoration: none;
  background: red;
  padding: 10px;
  border-radius: 5%;
}
footer {
  text-align: center;
  padding: 20px 32px;
  color: white;
  background-color: #333;
}
footer p {
  font-family: monospace;
  font-size: 1.4em;
}
