@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6mavqs');
  src:  url('fonts/icomoon.eot?6mavqs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6mavqs') format('truetype'),
    url('fonts/icomoon.woff?6mavqs') format('woff'),
    url('fonts/icomoon.svg?6mavqs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitlab1:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e900";
}
.icon-dev-dot-to:before {
  content: "\e904";
}
.icon-gitlab:before {
  content: "\e902";
  color: #e24329;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-facebook:before {
  content: "\e905";
  color: #3b5998;
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin1:before {
  content: "\eac9";
}
